.box{
    height: 100px;
    width: 300px;
    background-color: pink;

    /* animation-name: widthAnimation;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

    /* Animation Shorthand */
    /* animation: widthAnimation 2s ease-in 0s infinite alternate; */
    animation: colAnimate 4s infinite ease-in 0s alternate;
}



@keyframes widthAnimation{
    from {
        width: 10px;
        background-color: aqua;
        font-size: 20px;
    }
    to {
        width: 500px;
        background-color: brown;
        font-size: 50px;
        border-radius: 10px;
    }
}

@keyframes colAnimate{
    0% {
        background-color: darkgoldenrod;
    }
    50% {
        background-color: hotpink;
    }
    80% {
        background-color: red;
    }
    100% {
        background-color: darkgreen;
    }
}