#container{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    
}
.box{
    height: 100px;
    width: 100px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 60px;
    text-align: center;
}
#nav{
    height: 50px;
    width: 900px;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    
    
}
.option{
    height: 50px;
    width: 80px;
    font-size: 24px;
    display: flex;
    border-radius: 10px;
    margin-left: 5px;
    align-items: center;
}