.cantainer{
    display: grid;
    grid-template-rows: repeat(12,1fr);
    grid-template-columns: repeat(12,1fr);
    margin: 0;
    padding: 0;
    grid-gap: 10px ;
    background-color: pink
}

@media (max-width: 720px) {
    .header{
        grid-column: 1/span 12;
    }
    .navigation{
        grid-column: 1/span 12;
        grid-row: 2;
    }
    .main{
        grid-column: 4/span 9;
        grid-row: 3/span 9;
    }
    .sidebar{
        grid-row: 3/span 9;
        grid-column: 1/span 3;
    }
    .ads{
        grid-row: 12;
        grid-column: 1/span 3;
    }
    .footer{
        grid-row: 12;
        grid-column: 4/span 9;
    }
}