div{
    width: 400px;
    height: 400px;
    background-color: #7aa374;
    margin: 0 auto;
    background-image: url(Screenshot\ 2025-04-25\ 082925.png);
    background-size: cover;
    color: whitesmoke;
}