.container{
    width: 600px;
    height: 400px;
    background-color: gold;
    display: inline-grid;
    /* grid-template-rows: 60px 60px 60px 60px 60px;
    grid-template-columns: 200px 200px 200px ; */
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);
    /* row-gap: 10px;
    column-gap: 10px; */
    /* Shorthand  */
    grid-gap: 10px;
    /* justify-items: center;
    align-items: center; */
    place-items: center;

}
#one{
    /* grid-column-start: 1;
    grid-column-end: 3; */

    /* grid-column: 1/4; */
    /* grid-column: 1/span 3; */
    /* align-self: start; */
    
}

#two{
    /* grid-row: 1/ span 2; */
    place-self: start;
}

#one{
    /* justify-self: end; */
}

.item{
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}