.card{
    width: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px black;
    transition: 1s;
}
.desc{
    padding: 0 2px 0 2px;
}
img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}
.card:hover{
    box-shadow: 0 20px 40px pink;
}