div{
    height: 200px;
    width: 500px;
    background-color: pink;
    border: 5px solid rgb(151, 116, 70);
    /* border-left-color: black;
    border-top: 5px dotted cornflowerblue;
    border-right: 5px dotted darkgreen;
    border-bottom: 5px dashed red; */
    border-radius: 10px 100px / 120px;
    padding-top: 50px;
    padding-left: 20px;
    margin: 20px;
}
h1{
    border: 2px dashed darkgreen;
}
button{
    border: solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: bisque;
}