h1{
    background-color: yellow;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
}

@media (width: 400px) {
    h1{
        background-color: brown;
        color: whitesmoke;
    }
}