div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}

#static{
    background-color: pink;
    position: static;
    top: 100px;
    left: 100px;
}

#relative{
    background-color: pink;
    position: relative;
    top: 100px;
    left: 100px;
}

/* Absolute =  the element is removed form the normal document flow, and no space is created for the element in the page layout.

it is poistioned relative to its closest positioned ancestor, if any; otherwise, it is placed relative to the intial containing*/
#absolute{
    background-color: pink;
    position: absolute;
    top: 100px;
    left: 100px;
}
#Fix{
    background-color: pink;
    position: fixed;
    top: 100px;
    left: 100px;
}

