div{
    height: 100px;
    width: 100px;
    background-color: green;
    transition: 2s;
    margin: 0 auto;
    transition: margin-top 2s ease-in 0.2s;
}
div:hover{
    background-color: aquamarine;
    border-radius: 50%;
    margin-top: 400px;
}