.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
}
.one {
    background-color: aquamarine;
    position: relative;
    z-index: 1;
}
.two{
    background-color: aqua;
    position: relative;
    bottom: 50px;
    z-index: -1;
}
.three{
    background-color: antiquewhite;
}