body{
    background-color: #96A78D;
    margin-left: 20px;
}

.chat{
    /* border: 2px solid black;
    padding: 10px;
    margin: 10px; */
    background-color: #B6CEB4;
    padding: 20px;
    border-radius: 16px;
}
.msg{
    background-color: #D9E9CF;
    padding: 5px 15px;
    border-radius: 16px;
}
