<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your chat</title>
</head>
<body>
    <h3>edit your chat</h3>
    <p>This chat was sent from <b><%= chat.from %></b> to <b><%= chat.to %></b> </p>
    <form action="/chats/<%= chat._id %>?_method=PUT" method="POST">
        <textarea name="message" rows="6" cols="50"><%= chat.message %></textarea>
        <button style="background-color: #B6CEB4; border: 1px solid #D9E9CF; ">edit</button>
    </form>
</body>
</html>