<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis aspernatur sunt temporibus vel consequuntur odio
        molestiae. Illo voluptatum, consequatur odit, provident molestias veniam nobis, optio vitae similique earum
        perspiciatis repudiandae!</p>
    <button>click me!</button>
</body>

</html>